{% extends "base.html" %}

{% block content %}
<h1 class="title">
    You are successfully authenticated!
</h1>
<form name="start_infinc" action="/get_temp" method="POST">
    <button type="submit">Get Temperature!</button>
</form>
<br>
<form name="set_temp_c" action="/set_temp_c" method="POST">
    <button type="submit">Set Temperature to C!</button>
</form>
<form name="set_temp_f" action="/set_temp_f" method="POST">
    <button type="submit">Set Temperature to F!</button>
</form>
<form name="set_temp_k" action="/set_temp_k" method="POST">
    <button type="submit">Set Temperature to K!</button>
</form>
<form name="logout" action="/logout" method="POST">
    <button type="submit">Log out</button>
</form>
<br>
<h1 class="title">
    Temperature is: {{Temp}}
</h1>
{% endblock %}

